{% extends 'base.html' %}

{% load static %}

{% block title %}About Me{% endblock title %}


{% block content %}

<h1>About me...</h1>

<p>My name is Jazmin Salas, I have a very common name. At the moment I am a student, who is trying to finish his university career.</p> 
    <h2>One of the things I do lately are these: </h2>
    <ul>
    <li>Learn calligraphy.</li>
    <li>Learn Photoshop (I'm not doing well)</li>
    </ul>
    <img  src="{% static 'images\perfil.jpg' %}" class="img-perfil"/>

{% endblock content %}